body{
margin:0;
padding:0;
font-family:Sans-serif;
font-size:14px;
color:#333333;
}
.all{
	position:relative;
	padding:20px;
}
.title{
	text-align:center;
	font-weight:normal;
	font-size:28px;
}
fieldset{
	border:1px solid #CCCCCC;
	border-radius:3px;
	margin:10px 0;
	padding: 20px;
}
legend{
	display: auto;
	width: auto;
	max-width: auto;
	padding: 0 10px;
	margin-bottom: .4rem;
  border: none;
}
@media all and  (max-width: 600px) {
	.config-table
	{
		width:100%;
	}
	.config-table tr
	{
		
	}
	.config-table tr td
	{
		display:block;
		padding:3px 0;
		width:100%;
		box-sizing:border-box;
	}
	.config-table tr td:empty{
		display:none;
	}
}
@media all and (min-width: 600px) {
	.config-table
	{
		width:100%;
	}
	.config-table tr
	{
		position:relative;
	}
	.config-table tr td
	{
		padding:3px 0;
		box-sizing:border-box;
	}
	.config-table tr > td:nth-child(1)
	{
		width:200px;
	}
}
.config-table tr td input[type="text"],
.config-table tr td input[type="number"],
.config-table tr td input[type="password"],
.config-table tr td select
{
	display:block;
	width:100%;
	box-sizing:border-box;
	border:1px solid #CCCCCC;
	background-color:#FFFFFF;
}
.config-table tr td input[type="text"]:focus,
.config-table tr td input[type="number"]:focus,
.config-table tr td input[type="password"]:focus,
.config-table tr td select:focus,
.config-table tr td input[type="text"]:active,
.config-table tr td input[type="number"]:active,
.config-table tr td input[type="password"]:active,
.config-table tr td select:active
{
  outline: none;
}
.config-table tr td input[type="text"],
.config-table tr td input[type="number"],
.config-table tr td input[type="password"]{
	padding:7px 11px;
}
.config-table tr td select
{
	padding:7px 7px;
}

.navbar-light .navbar-nav .nav-link{
	padding-left:14px;
	padding-right:14px;
}
.navbar-light .navbar-nav .nav-link.active{
	background-color:#EE0000;
	color:#FFFFFF;
	border-radius:4px;
}
input[type=number] {
  -moz-appearance: textfield;
}



.three-col {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    position: relative;
}

.three-col .control-wrapper{
    width: 30%;
    position: relative;
    padding: 5px 0px;
}


.control-wrapper button{
  background-color: #EEEEEE;
  border-radius: 4px;
  border: none;
  padding: 4px 8px;
  width: 100%;
  box-sizing: border-box;
}

.phone-page{
  padding: 0px;
  position: relative;
  margin-bottom: 20px;
}

button span.number{
  font-size: 24px;
}
.dialed-number{
}
.dialed-number::after{
  content: "";
  display: block;
  clear: both;

}
.dialed-number-delete{
  float: right;
}
.dialed-number{
  border: 1px solid #DDDDDD;
  margin-bottom: 10px;
}
.dialed-number-text{
  height: 48px;
  text-align: center;
  padding: 6px 0px 4px 30px;
  font-size: 22px;
  background-color: #FFFFFF;
}

.dialed-number-delete{
}
.dialed-number-delete button{
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-left: none;
  width: 26px;
  padding-left: 0pc;
  padding-right: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
}
.dialed-number-delete button:focus{
  outline: none;
}
.dialed-number-delete button::before,
.dialed-number-delete button::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0; 
  height: 0;
}
.dialed-number-delete button::before{
  top: -1px;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent; 
  border-right:14px solid #DDDDDD;
  left: -14px;

}
.dialed-number-delete button::after 
{
  top: 0px;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent; 
  border-right:13px solid #FFFFFF;
  left: -13px;


}
.dial-area{
  text-align: center;
  padding: 12px 0;
}
#phone{
  width: 64px;
  height: 64px;
  background-color: #0760ec;
  border: 0;
  padding: 0;
  border-radius: 50%;
}

#phone:active, #phone:focus{
  outline: none;
}

.icon-phone{
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0760ec;
  transform: rotate(-45deg);
}
.icon-phone::before{
  top: 8px;
  left: 18px;
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  width: 16px;
  height: 38px;
  border-top-left-radius: 8px 20px;
  border-bottom-left-radius: 8px 20px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
}
.icon-phone::after{
  top: 18px;
  left: 25px;
  content: "";
  display: block;
  position: absolute;
  background-color:#0760ec;
  width: 12px;
  height: 18px;
  border-top-left-radius: 8px 20px;
  border-bottom-left-radius: 8px 20px;
  border-top-right-radius: -5px -5px;
  border-bottom-right-radius: -5px -5px;
}

.ussd{
    display: none;
}

.ussd-response-inner{
    padding: 10px 12px;
    border: 1px solid #DDDDDD;
}

.input-phone-number, .text-message{
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #DDDDDD;
}
.text-message:focus, .text-message:active,
.input-phone-number:focus, .input-phone-number:active{
    outline: none;
}

.receiver-area, message-area{
    margin-bottom: 10px;
    position: relative;

}
.input-phone-number{
}
.text-message{
    height: 100px;
}
.input-label{
    padding: 2px 0;
}

.two-cols-responsive{
  table-layout: fixed;
  width: 100%;
}
@media screen and (max-width: 320px){
  .two-cols-responsive tr td{
    display: block;
    width: 100%;
    padding: 2px 0;
  }
  .two-cols-responsive tr td:nth-child(1){
    font-weight: bold;
  }
  .two-cols-responsive tr td:nth-child(1):empty{
    display: none;
  }
}
@media screen and (min-width: 320px){
  .two-cols-responsive tr td{
    padding: 2px 0;
  }
  .two-cols-responsive tr td:nth-child(1){
    width: 35%;
    max-width: 200px;
  }
}

.row-table{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #CCCCCC;
}
.row-table td{
  padding: 7px 8px 8px 8px;
  border: 1px solid #CCCCCC;
}
.row-table thead td{
  font-weight: bold;
}


.row-table tbody tr td{
	position:relative;
}
.row-table tbody tr td .inline-editor{
	position:relative;
	min-height:30px;
	height:calc(100% + 16px);
	width:calc(100% + 16px);
	margin:-7px -7px -7px -7px;
	padding:7px 7px 7px 7px;
}
.row-table tbody tr td div.inline-editor.no-pad{
	height:100%;
	width:100%;
	padding:0;
}
.row-table textarea.inline-editor-text {
	margin: -2px -2px -4px -2px;
	border: 1px solid #999999;
	width: calc(100% + 18px);
	height: calc(100% + 2px);
	padding:8px 8px 0px 8px;
}
.row-table textarea:focus, .row-table textarea:active{
  outline: none;
}

.button-area{
  padding: 10px 0;
}
span.icon{
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
}
span.icon.icon-check::before{
  content: "";
  display: block;
  position: absolute;
  left: 7px;
  top: 0;
  height: 13px;
  width: 1px;
  background-color: #555555;
  transform: rotate(45deg);
}
span.icon.icon-check::after{
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 5px;
  height: 7px;
  width: 1px;
  background-color: #555555;
  transform: rotate(-45deg);
}
span.icon.icon-cross::before{
  content: "";
  display: block;
  position: absolute;
  left: 6px;
  top: 0;
  height: 15px;
  width: 1px;
  background-color: #555555;
  transform: rotate(45deg);
}
span.icon.icon-cross::after{
  content: "";
  display: block;
  position: absolute;
  left: 6px;
  top: 0;
  height: 15px;
  width: 1px;
  background-color: #555555;
  transform: rotate(-45deg);
}

.code-mirror-editor{
border: 1px solid #DDDDDD;
}

.notification-container{
  position:fixed;
  bottom:10px;
  right:0px;
  box-sizing: border-box; 
  width: calc(100vhw - 20px);
  max-width: 400px;
}
.notification-item{
  margin-top: 10px;
  position: relative;
  right: 10px;
  float: right;
  width: calc(100vw - 20px);
  max-width: 400px;
  background-color: #FFFFFF;
}
.notification-wrapper{
  border:1px solid #DDDDDD;
  padding: 10px;
  border-radius: 5px;
}
.notification-close{
  float: right;
  border: 1px solid #EEEEEE;
}
.notification-close a{
  padding: 2px;
  width: 20px;
  height: 20px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  columns: #555555;
}
.notification-message{
  padding-left: 4px;
}